{% extends 'base.html' %}
{% load static %}

{% block main %}

    <h3 class="text-center"> Tweets </h3>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
            </div>
            <div class="col-md-6">
                <div id="tweets">
                    <p>Loading .. </p>
                </div>
            </div>
            <div class="col col-lg-2">
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/tweets.js" %}"></script>
{% endblock %}