{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}

    <br>
    <h3 class="text-center mt-4"> Tweets </h3>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
            </div>
            <div class="col-md-6">
                <div id="tweetList">
                    <p>Loading .. </p>
                </div>
            </div>

            <div class="col col-lg-4">
                <div id="alert_box"></div>

                <form action="{% url 'tweet:crete' %}" class="bootstrap4" method="POST" id="tweet_create_form">
                    {% comment %}
                        transfer user with js after submitting
                        form to home with next value
                    {% endcomment %}
                    <input type="hidden" value="{% url 'tweet:home' %}" name="next"/>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
        </div>
    </div>target



{% endblock %}

{% block scripts %}
    <script src="{% static "js/tweets.js" %}"></script>
{% endblock %}